<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% if page_title is defined %}{{ page_title }} - {% endif %}duebat{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        <style>
            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }

            main {
                flex: 1 0 auto;
            }
            {% block stylesheets %}{% endblock %}
        </style>
    </head>
    <body>
    <header>
        {% include ':partial:header.html.twig' %}
    </header>
    <main>
            {% block body %}{% endblock %}
    </main>
   <footer class="page-footer grey">
       <div class="footer-copyright">
           <div class="container">
               © {{ 'now'|date('Y') }} Copyright duebat.com. All rights reserved.
               <a class="grey-text text-lighten-4 right" href="#modal_terms"> Terms of Service </a>
           </div>
       </div>
   </footer>
    {% include 'partial/terms.html.twig' %}
   </body>
    <script>
        $(document).ready(function(){
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });
        $('.datepicker').pickadate({
            min: new Date(),
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 3, // Creates a dropdown of 15 years to control year
            format: 'yyyy-mm-dd'
        });

        $(document).ready(function() {
            $('select').material_select();
        });

        {% for flash_message in app.session.flashBag.get('success') %}
        $(document).ready(function () {
            Materialize.toast('{{ flash_message }}', 3500, 'teal accent-4')
        });
        {% endfor %}
    </script>
    {% block javascripts %}{% endblock %}
</html>
