<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% if page_title is defined %}{{ page_title }} - {% endif %}duebat{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            body {
                background-color: #2f9599; /* Green */
                color: #ffffff;
            }
            a   {
                color: #F7db4f;
            }
            input, textarea {
                color: #454545;
            }
            {% block stylesheets %}{% endblock %}
        </style>
    </head>
    <body>

        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
    </body>
    {% block javascripts %}{% endblock %}
</html>
