{% extends 'Admin/base.html.twig' %}
{% set page_title="Club Edit" %}
{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit"class="btn waves-effect waves-lighten blue lighten-1">Submit</button><br />
    <a href="{{ path('app_admin_club_list_all') }}">Back to the list</a>
{{ form_end(form) }}
{% endblock %}
{% block stylesheets %}
{% endblock %}