{% extends 'base.html.twig' %}
{% set page_title="Welcome" %}
{% block body %}
    <div class="row">
              {% include 'partial/login.html.twig' %}
        <div class="col s12 m8 l8">
            <div class="section">
                <span class="card-title"><h5>Working together</h5></span>
                <p>
                    Collect dues for your club with Duesbot. Save up for a big event.
                </p>
                <p>
                  If you and your friends pool a small amount together every month. After a while, that pool gets pretty big.
                  Then you can use it for:
                </p>
                    <ul class="browser-default">
                    <li>
                        Airline tickets
                    </li>
                    <li>
                        Camping equipment
                    </li>
                    <li>
                        Bowling league shirts
                    </li>
                    <li>
                        A trebuchet to lay siege to your enemies
                    </li>
                    <li>
                        Protest banners
                    </li>
                    <li>
                        . . .
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

