<form action="{{ path("fos_user_security_check") }}" method="post">
    <div class="input-field">
        <input id="name" type="text" class="active validate black-text" name="_username" required="required">
        <label for="_username">Username</label>
    </div>
    <div class="input-field">
        <input type="password" name="_password" class="active validate black-text" required="required" />
        <label for="_password">Password</label>
        <sup>
            <a href="{{ path('fos_user_resetting_request') }}">Forgot password?</a>
        </sup>
    </div>
    <br />
    <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.refreshToken('authenticate') }}" />
    <button class="btn-flat waves-effect waves-light orange white-text" type="submit">Submit <i class="material-icons right">send</i></button>
</form>