<div id="terms_modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Terms of Service</h4>
        <p>
            Duebat.com is a service that enables users to collect dues from their club’s members through our website located at www.duebat.com and by using related applications. For simplicity, we’ll refer to any or all of this as the “Service”.
            When you access or use the Service, you are agreeing to the following terms and conditions (“Terms”) and acknowledge that they are a binding legal agreement between you and Duebat.com.
        </p>
        <p>
            By accessing or using the Service on behalf of an organization, your group or “club,” you are also agreeing to these Terms on behalf of that organization and saying that you are authorized to do that on behalf of your organization.
        </p>

        <h4>The Basics</h4>
        <p>
            Our goal is to provide a valuable and enjoyable service through which users can share and distribute dues collected from a group. Here are a few basic principles (more details on these are further down):
        </p>
        <ul class="browser-default">
            <li>
                What’s yours is yours and vice versa.When you add content to the service you are NOT giving us ownership of what you added. Likewise, we are not giving you ownership of anything belonging to Duebat.com. You are giving us certain rights to use things you add to the Service as part of our operation of the Service and we are giving you the right to use the Service.
            </li>
            <li>
                Dues collected through the Service are yours to do with as you see fit, except in so far as they may violate law. Duebat has the right, but not the responsibility, to refuse service or remove any individual or organization from the Service if they violate the law or these Terms.
            </li>
            <li>
                Fees collected through the Service belong to Duebat or our third-party partners. Duebat uses payment processors (such as Stripe) to collect dues from Service participants. Duebat reserves the right to also collect a fee above that which is collected by the payment processors. These fees keep the Service running and Duebat nor its partners are willing to relinquish these fees. Duebat reserves the right to change the fee structure. We will make attempts through email or also through notifications on the site to alert users if that fee structure changes.
            </li>
            <li>
                Content you put on the Service may be public so consider carefully what you add and how you add it. The Duebat Privacy Policy gives you full details on what is public and what is private.
            </li>
            <li>
                Be good and play nicely. The Service is only provided for lawful purposes and not for engaging in or promoting illegal activity. Also, don’t do things that would harm the Service or make it less enjoyable for others.
            </li>
        </ul>

        <h4>Who Can Use Duebat?</h4>
        <p>
            The Service is intended solely for persons who are 13 or older. If you are not 13 or older, do not use the Service. If you use or access the Service you are telling us that you are 13 or older. You may use the Service only as allowed by these Terms and all applicable laws. If something you want to do on the Service violates the Terms or the law, don’t do it.
        </p>

        <h4>What happens when I add something to the Service?</h4>
        <p>
            We’ll use the term, “User Content” to mean anything and everything a user adds to the Service. The most common thing users will add are clubs, events, and notes they add to those.This information may be publicly available depending on the user’s privacy selections.
            Your User Content is yours and User Content added by others is theirs. By adding something to the Service you are not giving Duebat or anyone else ownership of that User Content.
        </p>
        <p>
            When you put User Content on the Service, you do give us (and our service providers, partners and other users) free and unlimited rights to use your User Content as part of the Service including as the Service may evolve in the future. This means we can use, including copying, modifying etc…, what you put on the Service as part running the Service worldwide and including things like enabling it on different devices and platforms. For example, this license allows us to make your public (not private) information available to others as part of their use of the Service. This also means that other users of the Service can use your publicly available content as part of their use of the Service.
        </p>
        <p>
        <h4>You are responsible for what you do on the Service.</h4>
        <p>
            You are responsible for your use of the Service and all of your User Content, we are not responsible or liable for any use of your User Content. Depending on your privacy settings, your User Content may be used by us, other users, and our partners. If you don’t have the right to submit your User Content for such use, it may subject you to liability. When you add content to the Service you are representing that you have all the necessary rights to do so and to enable others to use the content as described in these Terms.
        </p>

        <h4>Can I remove content I add to the Service?</h4>
        <p>
            Yes, you may remove your User Content from the Service at any time by specifically marking it for deletion or terminating your Account. If you choose to remove your User Content or to terminate your Account, your User Content will be removed from our systems in a commercially reasonable amount of time (e.g., time enough to allow our services to update), provided, however, we may retain an archived copy as required by law. In addition, in certain instances, copies of your User Content may continue to exist in published or recorded form when it has been retransmitted, redistributed, or otherwise licensed to others as contemplated in these Terms. For instance, once text has been copied or downloaded we do not have the ability to change that. Likewise, to the extent that search engines or others archive pages it’s possible your content will remain available through those search engines even though it’s not available on the live version of our site (or even in any cached versions we maintain).
        </p>
        <h4>We are not Big Brother.</h4>
        <p>
            Duebat has no obligation to monitor your access to or use of the Service or to review or edit any User Content you choose to add and we do not do so as part of our normal operations; however, Duebat has the right to do these things for the purpose of operating the Service, to ensure your compliance with these Terms and applicable laws.
        </p>
        <h4>We are also not your Mother, but we do want you to be careful when crossing the Internet.</h4>
        <p>
            The Service contains links to other websites that our users have shared. If you click a link and something bad happens when you visit another site we are not responsible or liable in any way. We’re not responsible for the content of other sites and we’re not responsible for links users share on the Service. Just because a user has shared a link does not mean it’s safe and the fact that the link is on the Service does not mean we have checked it, endorsed it or otherwise determined its ok for you to visit, we have not. You assume all risk from visiting sites linked to on the Service.
        </p>
        <h4>Copyrights and Trademarks: Don’t Infringe Other People’s Rights!</h4>
        <p>
            Duebat respects copyright and trademark laws and expects its users to do the same. We have the right to and will terminate users’ accounts if they repeatedly infringe or are believed to be repeatedly infringing other people’s rights. We also reserve the right to require a user to change their username for any reason including infringement of someone’s rights.
        </p>
        <p>
            By the way, copyright and trademark laws also protect the Service and Duebat exclusively owns all rights to the Service except as expressly provided in these Terms. All trademarks, service marks, logos, trade names and any other proprietary designations of Duebat used herein are trademarks or registered trademarks of Duebat. Any other trademarks, service marks, logos, trade names and any other proprietary designations are the trademarks or registered trademarks of their respective parties.
        </p>
        <h4>What not to Do</h4>
        <p>
            Most of this should be pretty obvious, but here’s a list just to make sure people are clear on some of the details of what it’s not ok to do on the Service:
        </p>
        <h4>DO NOT:</h4>
        <ul class="browser-default">
            <li>
                Post, submit or transmit any User Content that constitutes a direct, specific threat of violence against another;
            </li>
            <li>
                Use the Service for an unlawful purpose or for promotion of illegal activities;
            </li>
            <li>
                Impersonate others through the Service in a manner that does or is intended to mislead, confuse or deceive others;
            </li>
            <li>
                Access, tamper with, or use non-public areas of the Service, Duebat’s computer systems, or the technical delivery systems of Duebat’s providers;
            </li>
            <li>
                Attempt to probe, scan, or test the vulnerability of any system or network or breach any security or authentication measures;
            </li>
            <li>
                Avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure;
            </li>
            <li>
                Attempt to access or search the Service or any content on the service or download any content from the Service through the use of any engine, software, tool, agent, device or mechanism (including spiders, robots, crawlers, data mining tools or the like) other than the software and/or search agents provided by Duebat or other generally available third party web browsers;
            </li>
            <li>
                Attempt, in any way, to deceive users into giving you dues. The Service is offered in good faith and we expect users to operate in the same manner.
                Send any unsolicited or unauthorized advertising, promotional materials, email, junk mail, spam, chain letters or other form of solicitation;
                Forge any TCP/IP packet header or any part of the header information in any email or newsgroup posting, or in any way use the Service to send altered, deceptive or false source-identifying information;
            </li>
            <li>
                Interfere with, or attempt to interfere with, the access of any user, host or network, including, without limitation, sending a virus, intentionally linking to malicious content, overloading, flooding, spamming, or mail-bombing the Service;
            </li>
            <li>
                Collect or store any personally identifiable information from the Service from other users of the Service without their express permission; or
                Encourage or enable any other individual to do any of the foregoing.
            </li>
        </ul>
        <h4>When it’s Over</h4>
        <p>
            If you violate any of these Terms, your permission to use the Service may be suspended or permanently revoked. We reserve the right to suspend, disable or terminate your Account, in our sole discretion and without prior notice to you, with or without cause. You may cancel your Account at any time via the “Settings” section of your Account. If there is a balance in our third-party payment processor accounts, Duebat will make every effort to transfer that balance to your personal account. However, we make no promises. Also, we are not responsible for any malfunction or termination of services to you from our third-party providers.
        </p>
        <h4>Want to give us Feedback?</h4>
        <p>
            Any feedback, comments and suggestions for improvements to the Service that you submit to Duebat (“Feedback”) will be the sole and exclusive property of Duebat and by submitting such Feedback you irrevocably assign to Duebat and agree to irrevocably assign to Duebat all of your rights in all such Feedback, including all related intellectual property rights. Your submission of any Feedback to Duebat is entirely voluntary and we will be free to use such Feedback as we choose and without any obligation to you.
        </p>
        <h4>The Service is Available “AS-IS”</h4>
        <p>
            Your access to and use of the Service and any content available on or through the Service is at your own risk. You understand and agree that the Service and content available on or through the Service are provided to you on an “AS-IS” and “AS-AVAILABLE” basis. WITHOUT LIMITING THE FOREGOING, DUEBAT EXPLICITLY DISCLAIMS ANY WARRANTIES, EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. We make no warranty (i) that the Service or any content available on or through the Service will meet your requirements or be available on an uninterrupted, secure, or error-free basis; or (ii) regarding the quality of any products, services or content or the accuracy, timeliness, truthfulness, completeness or reliability of any action performed through the Service. No advice or information, whether oral or written, obtained from Duebat or through the Service will create any warranty not expressly made herein.
        </p>
        <h4>Limitation of Liability</h4>
        <p>
            YOU ACKNOWLEDGE AND AGREE THAT, TO THE MAXIMUM EXTENT PERMITTED BY LAW, NEITHER DUEBAT NOR ANY OTHER PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING THE SERVICE WILL BE LIABLE FOR ANY DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY OR CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING WITHOUT LIMITATION, LOSS OF PROFITS, DATA, USE, GOODWILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (I) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICE; (II) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICE, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (III) ANY CONTENT OBTAINED FROM OR THROUGH THE SERVICE; AND (IV) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT DUEBAT HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, EVEN IF A LIMITED REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.
        </p>
        <p>
            IN NO EVENT WILL DUEBAT’S’ AGGREGATE LIABILITY ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE SERVICE OR ANY CONTENT AVAILABLE ON OR THROUGHOUT THE SERVICE EXCEED FIFTY DOLLARS ($50). THE LIMITATIONS OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN DUEBAT AND YOU. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU.
        </p>
        <h4>Controlling Law and Jurisdiction</h4>
        <p>
            These Terms and any action related thereto will be governed by the laws of the State of Pennsylvania without regard to its conflict of laws provisions. The exclusive jurisdiction and venue of any action with respect to the subject matter of these Terms, including any claims arising from or related to the use of the Service or Service Content, will be the state and federal courts located in the Western District of Pennsylvania and each of the parties hereto waives any objection to jurisdiction and venue in such courts.
        </p>
        <h4>We may make Modifications or Changes</h4>
        <p>
            Duebat may, its sole discretion, choose to modify, discontinue or terminate the Service, at any time and without prior notice. Duebat may also choose to modify the Terms. If we choose to modify the Terms, we’ll post them and give you a chance to provide feedback before they become effective except in extraordinary circumstances where we think it’s important for them to become effective as soon as they are posted in which case we’ll make that clear. Once they become effective your continued use of the Service will mean you agree to be bound by the new terms. If you don’t agree then you need to stop using the Service.
        </p>
        <h4>Entire Agreement</h4>
        <p>
            These Terms constitute the entire and exclusive understanding and agreement between Duebat and you regarding the Service and Service Content, and these Terms supersede and replace any and all prior oral or written understandings or agreements between Duebat and you regarding the Service and Service Content.
        </p>
        <h4>Assignment</h4>
        <p>
            You may not assign or transfer these Terms, by operation of law or otherwise, without Duebat’s prior written consent. Any attempt by you to assign or transfer these Terms, without such consent, will be null and of no effect. Duebat may assign or transfer these Terms, at its sole discretion, without restriction. Subject to the foregoing, these Terms will bind and inure to the benefit of the parties, their successors and permitted assigns.
        </p>
        <h4>Notices</h4>
        <p>
            Any notices or other communications permitted or required hereunder, including those regarding modifications to these Terms, will be in writing and given by Duebat (i) via email (in each case to the address that you provide); or (ii) by posting on the Site or via the Service. For notices made by e-mail or posting, the date of receipt will be deemed the date on which such notice is transmitted or posted, whichever is earlier.
        </p>
        <h4>General</h4>
        <p>
            The failure of Duebat to enforce any right or provision of these Terms will not constitute a waiver of future enforcement of that right or provision. The waiver of any such right or provision will be effective only if in writing and signed by a duly authorized representative of Duebat. Except as expressly set forth in these Terms, the exercise by either party of any of its remedies under these Terms will be without prejudice to its other remedies under these Terms or otherwise. If for any reason a court of competent jurisdiction finds any provision of these Terms invalid or unenforceable, that provision will be enforced to the maximum extent permissible and the other provisions of these Terms will remain in full force and effect.
        </p>
        <h4>Contacting Us</h4>
        <p>
            If you have any questions about this Privacy Policy, please contact us at support@duebat.com.
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
    </div>
</div>