<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% if page_title is defined %}{{ page_title }} - {% endif %}duebat{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        <script src="{{ asset('js/site.js') }}"></script>
        <style>
            {% block stylesheets %}{% endblock %}
        </style>
    </head>
    <body>
            {% include ':partial:header.html.twig' %}
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                           {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col s12 m4 l4 offset-m4 offset-l4">
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                </div>
            </div>
    </body>
</html>
