{% extends 'Admin/base.html.twig' %}
{% set page_title="Member" %}
{% block body %}
    <table class="table">
        <tr>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Edit
            </th>
        </tr>
        <tr>
            <td>
                {{ user.username }}<br />
            </td>
            <td>
                {{ user.email }}<br />
            </td>
            <td>
                <a class="btn waves-effect waves-lighten blue lighten-1" href="{{ path('app_admin_user_edit', {'id': user.id}) }}">Edit</a>
            </td>
        </tr>
    </table>
    <a href="{{ path('app_admin_user_list_all') }}">Back to the list</a>
{% endblock %}
{% block stylesheets %}
{% endblock %}
